body {
  background-color: lavender;
}

h1 {
  font-size: 4vw;
  font-weight: bolder;
}
div {
  border-radius: 3px;
    padding-left: 3px;
    margin: 5px
}
.About_Me_h1 {
  padding-left: 5px;
  padding-top: 5px;
  margin: 5px;
}
.About_Me {
  padding-left: 5px;
} 
.Education_Work {
  padding-top: 5px;
  padding-left: 5px;
  margin: 5px;
  font-size: 20;
  font-weight: bolder;
}
.Education_background {
  padding-left: 5px;
  margin: 5px;
}

ul {
  list-style-type:square;
  padding-left: 15px;
  margin: 15px;
}
.Goals {
  padding-top: 5px;
  padding-left: 5px;
  margin: 5px;
  font-size: 20;
  font-weight: bolder;
}
.Goals_paragraph {
  padding-left: 5px;
  margin: 10px;

}
.ordered_list_top_10 {
  padding-left: 5px;
  margin: 5px;
  font-size: 20;
  font-weight: bolder;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 15px;
  margin: 15px;
}
li {
  margin: 10px 0;
  font-size: 16px;
  color: #333333;
}